Repository 2600-Thailand/stdio-ctf-2022: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-challenge, upload-file

deploy-challenge:
  stage: deploy
  script:
  - cd server
  - docker-compose up --force-recreate --build -d

upload-file:
  stage: deploy
  script:
  - aws s3 cp --recursive file s3://stdio-ctf-2022/file --endpoint-url  https://43d1e8a599807a9b1924410a2441412d.r2.cloudflarestorage.com

add new way to publish source code by using run_
  .gitlab-ci.yml
  file/ch6_m1_pudding.zip
  file/ch7_m2_byoh.zip
  file/ch8_m3_ezdsa.zip
  file/run_ch6_m1_pudding.sh
  file/run_ch7_m2_byoh.sh
  file/run_ch8_m3_ezdsa.sh
  server/crypto/ch6_m1_pudding/app/app.py
  server/crypto/ch7_m2_byoh/app/app.py
  server/crypto/ch7_m2_byoh/app/hashlib2.py
  server/crypto/ch8_m3_ezdsa/app/app.py
Due: deploy-challenge, upload-file

Add readme for sharefile
  README.md
Due: none

Add m0_mtp and m2-wa-sm-wa-sm
  file/ch5_mtp.txt
  other/crypto/m0_mtp/generator.py
  other/rev/m2-wa-sm-wa-sm/.gitignore
  other/rev/m2-wa-sm-wa-sm/Cargo.toml
  other/rev/m2-wa-sm-wa-sm/LICENSE_APACHE
  other/rev/m2-wa-sm-wa-sm/LICENSE_MIT
  other/rev/m2-wa-sm-wa-sm/README.md
  other/rev/m2-wa-sm-wa-sm/generator.sh
  other/rev/m2-wa-sm-wa-sm/src/lib.rs
  other/rev/m2-wa-sm-wa-sm/src/utils.rs
  other/rev/m2-wa-sm-wa-sm/tests/web.rs
  other/rev/m2-wa-sm-wa-sm/www/.bin/create-wasm-app.js
  other/rev/m2-wa-sm-wa-sm/www/.gitignore
  other/rev/m2-wa-sm-wa-sm/www/LICENSE-APACHE
  other/rev/m2-wa-sm-wa-sm/www/LICENSE-MIT
  other/rev/m2-wa-sm-wa-sm/www/README.md
  other/rev/m2-wa-sm-wa-sm/www/bootstrap.js
  other/rev/m2-wa-sm-wa-sm/www/index.html
  other/rev/m2-wa-sm-wa-sm/www/index.js
  other/rev/m2-wa-sm-wa-sm/www/package-lock.json
  other/rev/m2-wa-sm-wa-sm/www/package.json
  other/rev/m2-wa-sm-wa-sm/www/webpack.config.js
  other/rev/m2-wa-sm-wa-sm/www/webpack.prod.js
  other/rev/m2-wa-sm-wa-sm/www/yarn.lock
Due: upload-file

Add new file
  other/other/re/al/app.py.template
Due: none

Update app.py.template
  other/other/re/al/app.template.py
Due: none

Update app.template.py
  other/rev/al/app.template.py
Due: none

Add new file
  other/rev/al/generator.py
Due: none

Update generator.py
  other/rev/al/generator.py
Due: none

Upload New File
  file/ch11_rev_AL.zip
Due: upload-file

Upload New File
  file/ch18_misc_scan-me-please.png
Due: upload-file

Add new file
  other/misc/scan-me-please/generator.py
Due: none

Upload New File
  other/misc/scan-me-please/rickrolled.png
Due: none

Replace ch11_rev_AL.zip
  file/ch11_rev_AL.zip
Due: upload-file

web ch12
  server/docker-compose.yml
Due: deploy-challenge

web ch12
  server/web/ch12_unrestricted_dookdik/Dockerfile
  server/web/ch12_unrestricted_dookdik/index.php
  server/web/ch12_unrestricted_dookdik/upload.php
Due: deploy-challenge

web ch12 rm hadrcode
  server/web/ch12_unrestricted_dookdik/Dockerfile
Due: deploy-challenge

web ch12 uploads
  server/web/ch12_unrestricted_dookdik/uploads/test.txt
Due: deploy-challenge

web ch12 edit port
  server/docker-compose.yml
Due: deploy-challenge

web ch12 uploads permission
  server/web/ch12_unrestricted_dookdik/Dockerfile
Due: deploy-challenge

Add Challenge 19 - PyRun
  server/docker-compose.yml
  server/misc/ch19_pyrun/Dockerfile
  server/misc/ch19_pyrun/ctf.xinetd
  server/misc/ch19_pyrun/deploy/2cc454720ef57b28d17b4e8126438a00.txt
  server/misc/ch19_pyrun/deploy/chal.py
  server/misc/ch19_pyrun/start.sh
Due: deploy-challenge

Add Challenge 9 - Eevee Machine
  other/rev/eevee/Eevee.sol
  other/rev/eevee/bytecode.txt
Due: none

Add PyRun Solution
  server/misc/ch19_pyrun/solve.txt
Due: deploy-challenge

Remove solution and flag from challenge 12 and change it to env
  other/rev/m2-wa-sm-wa-sm/.gitignore
  server/misc/ch19_pyrun/deploy/2cc454720ef57b28d17b4e8126438a00.txt
  server/misc/ch19_pyrun/start.sh
  solution/misc/ch19_pyrun/solve.txt
Due: deploy-challenge

Random filename for pyrun challenge
  file/run_ch19_pyrun.sh
  server/docker-compose.yml
  server/misc/ch19_pyrun/start.sh
Due: deploy-challenge, upload-file

Update PyRun solution
  solution/misc/ch19_pyrun/solve.txt
Due: none

Hardening challenge 12 avoid flag and challenge removing + change name
  file/run_ch12_m1_gif_storage.sh
  server/docker-compose.yml
  server/web/ch12_m1_gif_storage/Dockerfile
  server/web/ch12_m1_gif_storage/start.sh
  server/web/ch12_m1_gif_storage/web/index.php
  server/web/ch12_m1_gif_storage/web/upload.php
  server/web/ch12_m1_gif_storage/web/uploads/.gitkeep
  server/web/ch12_unrestricted_dookdik/Dockerfile
  server/web/ch12_unrestricted_dookdik/index.php
  server/web/ch12_unrestricted_dookdik/upload.php
  server/web/ch12_unrestricted_dookdik/uploads/test.txt
Due: deploy-challenge, upload-file

Add challenge ch3_m2_lottery_predictor_game
  file/run_ch3_m2_lottery_predictor_game.sh
  server/docker-compose.yml
  server/pwn/ch3_m2_lottery_predictor_game/Dockerfile
  server/pwn/ch3_m2_lottery_predictor_game/ctf.xinetd
  server/pwn/ch3_m2_lottery_predictor_game/deploy/game
  server/pwn/ch3_m2_lottery_predictor_game/deploy/game.c
  server/pwn/ch3_m2_lottery_predictor_game/start.sh
Due: deploy-challenge, upload-file

Add Pwnable bin/docker
  server/pwn/ch1_m1_pwn_bankde_fc/Dockerfile
  server/pwn/ch1_m1_pwn_bankde_fc/ctf.xinetd
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc.c
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/compile.sh
  server/pwn/ch1_m1_pwn_bankde_fc/start.sh
  server/pwn/ch2_m3_super_guesser/Dockerfile
  server/pwn/ch2_m3_super_guesser/ctf.xinetd
  server/pwn/ch2_m3_super_guesser/deploy/SuperGuesser
  server/pwn/ch2_m3_super_guesser/deploy/SuperGuesser.c
  server/pwn/ch2_m3_super_guesser/deploy/compile.sh
  server/pwn/ch2_m3_super_guesser/start.sh
  server/pwn/ch4_m4_super_guesser_v2/Dockerfile
  server/pwn/ch4_m4_super_guesser_v2/ctf.xinetd
  server/pwn/ch4_m4_super_guesser_v2/deploy/SuperGuesserV2
  server/pwn/ch4_m4_super_guesser_v2/deploy/SuperGuesserV2.c
  server/pwn/ch4_m4_super_guesser_v2/deploy/compile.sh
  server/pwn/ch4_m4_super_guesser_v2/start.sh
Due: deploy-challenge

Update docker-compose.yml for pwnable chall
  server/docker-compose.yml
Due: deploy-challenge

fix docker-compose variable
  server/docker-compose.yml
Due: deploy-challenge

Update server/docker-compose.yml
  server/docker-compose.yml
Due: deploy-challenge

Upload New File
  file/ch11_img.png
Due: upload-file

ch14 - add config/db template
  server/web/ch14_m3_xss2sqli/.gitignore
  server/web/ch14_m3_xss2sqli/instance/config.py
  server/web/ch14_m3_xss2sqli/instance/flaskr.sqlite
Due: deploy-challenge

add chall generator for pwnable
  file/run_ch1_m1_bankde_fc.sh
  file/run_ch2_m3_super_guesser.sh
  file/run_ch4_m4_super_guesser_v2.sh
Due: upload-file

Path conditions:
  deploy-challenge: any of: server/**/*
  upload-file: any of: file/**/*
