Repository 2600-Thailand/stdio-ctf-2022: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-challenge, upload-file

.gitlab-ci.yml:

stages:
  - deploy
  - maintenance

deploy-challenge:
  stage: deploy
  script:
    - cd server
    - docker-compose up --force-recreate --build -d
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: never
    - changes:
        - server/**/*

upload-file:
  stage: deploy
  script:
    - find file -name "run_*" -exec ./{} \;
    - rm file/run_*
    - aws s3 cp --recursive file s3://stdio-ctf-2022/file --endpoint-url https://43d1e8a599807a9b1924410a2441412d.r2.cloudflarestorage.com
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: never
    - changes:
        - file/**/*

reset-chall:
  stage: maintenance
  script:
    - cd server
    - if [ $RESET_CHALL = "all" ]; then docker-compose up --force-recreate --build -d; else docker-compose up --force-recreate --build -d $RESET_CHALL; fi
  only:
    variables:
      - $RESET_CHALL

start-chall:
  stage: maintenance
  script:
    - cd server
    - if [ $START_CHALL = "all" ]; then docker compose start -d; else docker compose start $START_CHALL; fi
  only:
    variables:
      - $START_CHALL

stop-chall:
  stage: maintenance
  script:
    - cd server
    - if [ $STOP_CHALL = "all" ]; then docker compose stop; else docker compose stop $STOP_CHALL; fi
  only:
    variables:
      - $STOP_CHALL

ch14 - fix dockerfile
  server/web/ch14_m3_semi_sec_app/Dockerfile
Due: deploy-challenge

ch14 - change to debian
  server/web/ch14_m3_semi_sec_app/Dockerfile
Due: deploy-challenge

Make ch8 harder because longcat ehehehe
  server/crypto/ch8_m3_ezdsa/app/app.py
Due: deploy-challenge

Make ch8 harder again by Guitared
  server/crypto/ch8_m3_ezdsa/app/app.py
Due: deploy-challenge

Make it easier
  server/crypto/ch8_m3_ezdsa/app/app.py
Due: deploy-challenge

ch19: blacklist help and unset flag env
  server/misc/ch19_pyrun/deploy/chal.py
  server/misc/ch19_pyrun/start.sh
Due: deploy-challenge

remove hint comment
  server/web/ch13_m2_racing_shop/routes/api.js
Due: deploy-challenge

ch14 - remove docker-compose, fix secret init
  server/web/ch14_m3_semi_sec_app/Dockerfile
  server/web/ch14_m3_semi_sec_app/admin.py
  server/web/ch14_m3_semi_sec_app/docker-compose.yml
  server/web/ch14_m3_semi_sec_app/flaskr/auth.py
  server/web/ch14_m3_semi_sec_app/flaskr/blog.py
  server/web/ch14_m3_semi_sec_app/flaskr/templates/blog/post.html
  server/web/ch14_m3_semi_sec_app/instance/config.py
  server/web/ch14_m3_semi_sec_app/run.sh
Due: deploy-challenge

ch20 - simplify solution
  solution/misc/ch20_lotteryv2.py
Due: none

Update server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc.c
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc.c
Due: deploy-challenge

Add reupload-file pipeline
  .gitlab-ci.yml
Due: none

Simplify reupload-file pipeline
  .gitlab-ci.yml
Due: none

ch20 - fix run.sh
  file/run_ch20_lotteryv2.sh
Due: upload-file

ch14 - update zip file, remove messy files, only src now.
  file/run_ch14_m3_semi_sec_app.sh
Due: upload-file

ch13 - Add run.sh
  file/run_ch13_m2_racing_shop.sh
Due: upload-file

add +x to all run.sh
  file/run_ch13_m2_racing_shop.sh
  file/run_ch1_m1_bankde_fc.sh
  file/run_ch2_m3_super_guesser.sh
  file/run_ch4_m4_super_guesser_v2.sh
Due: upload-file

ch14 - remove unused env
  server/docker-compose.yml
Due: deploy-challenge

make m2_ezdsa harder
  other/crypto/m2_ezdsa/proof.py
  server/crypto/ch8_m3_ezdsa/app/app.py
Due: deploy-challenge

update version of source code ezdsa
  file/run_ch8_m3_ezdsa.sh
Due: upload-file

make it more harder ezdsa
  file/run_ch8_m3_ezdsa.sh
  server/crypto/ch8_m3_ezdsa/app/app.py
Due: deploy-challenge, upload-file

ch14 - refactor config
  server/web/ch14_m3_semi_sec_app/instance/config.py
Due: deploy-challenge

ch14 - add solution
  solution/web/ch14_m3_semi_sec_app.txt
Due: none

Update generator.py
  other/rev/al/generator.py
Due: none

Update app.template.py
  other/rev/al/app.template.py
Due: none

Replace ch11_rev_AL.zip
  file/ch11_rev_AL.zip
Due: upload-file

add gadget
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc.c
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/compile.sh
Due: deploy-challenge

remove stupid gadget and add name to global
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc.c
Due: deploy-challenge

remove stupid gadget and add name to global
  file/run_ch1_m1_bankde_fc.sh
Due: upload-file

add gadget bacnk since execstack won't work with global
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc.c
Due: deploy-challenge

change pwn version
  file/run_ch1_m1_bankde_fc.sh
Due: upload-file

update pwnable bin
  file/run_ch1_m1_bankde_fc.sh
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc
Due: deploy-challenge, upload-file

fix flag in docker-compose.yml
  server/docker-compose.yml
Due: deploy-challenge

add gadget
  server/pwn/ch3_m2_lottery_predictor_game/deploy/game
  server/pwn/ch3_m2_lottery_predictor_game/deploy/game.c
Due: deploy-challenge

update runner version
  file/run_ch3_m2_lottery_predictor_game.sh
Due: upload-file

Replace ch11_img.png
  file/ch11_img.png
Due: upload-file

Add hint for ch5
  file/hint_ch5_m0_mtp.py
Due: upload-file

Change KEY to flag
  file/hint_ch5_m0_mtp.py
Due: upload-file

fix: bug enable canary
  server/pwn/ch3_m2_lottery_predictor_game/deploy/game
Due: deploy-challenge

upload new challenge
  file/run_ch3_m2_lottery_predictor_game.sh
Due: upload-file

Randomize flag name for ch12
  server/web/ch12_m1_gif_storage/start.sh
Due: deploy-challenge
