Repository 2600-Thailand/stdio-ctf-2022: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-challenge, upload-file

.gitlab-ci.yml:

stages:
  - deploy

deploy-challenge:
  stage: deploy
  script:
    - cd server
    - docker-compose up --force-recreate --build -d
  only:
    changes:
      - server/**/*

upload-file:
  stage: deploy
  script:
    - aws s3 cp --recursive file s3://stdio-ctf-2022/file --endpoint-url  https://43d1e8a599807a9b1924410a2441412d.r2.cloudflarestorage.com
  only:
    changes:
      - file/**/*

Add Challenge 0 - Sanity Check
  file/ch0_sanity_check.mp3
Due: upload-file

remove fflush
  server/pwn/ch3_m2_lottery_predictor_game/deploy/game.c
Due: deploy-challenge

Web ch12 changed php tag
  server/web/ch12_m1_gif_storage/web/upload.php
Due: deploy-challenge

Add ch16 the stolen keystore
  file/ch16_the_stolen_keystore.zip
  other/for/ch16_the_stolen_keystore/flag.txt
  other/for/ch16_the_stolen_keystore/generator.sh
  other/for/ch16_the_stolen_keystore/keyStore.p12
Due: upload-file

Add setvbuf for challenge ch1
  server/pwn/ch1_m1_pwn_bankde_fc/deploy/bankdefc.c
Due: deploy-challenge

up ch20 misc challenge
  server/misc/ch20_secret_shop/.DS_Store
  server/misc/ch20_secret_shop/.dockerignore
  server/misc/ch20_secret_shop/Dockerfile
  server/misc/ch20_secret_shop/flag.txt
  server/misc/ch20_secret_shop/images/.DS_Store
  server/misc/ch20_secret_shop/images/aghanim_scepter.webp
  server/misc/ch20_secret_shop/images/band_of_elvenskin.webp
  server/misc/ch20_secret_shop/images/belt_of_strength.webp
  server/misc/ch20_secret_shop/images/blade_of_alacrity.webp
  server/misc/ch20_secret_shop/images/gauntlets_of_strngth.webp
  server/misc/ch20_secret_shop/images/mantle_of_intelligence.webp
  server/misc/ch20_secret_shop/images/ogre_axe.webp
  server/misc/ch20_secret_shop/images/point_booster.webp
  server/misc/ch20_secret_shop/images/robe_of_the_magi.webp
  server/misc/ch20_secret_shop/images/slippers_of_agility.webp
  server/misc/ch20_secret_shop/images/staff_of_wizardry.webp
  server/misc/ch20_secret_shop/index.js
  server/misc/ch20_secret_shop/package-lock.json
  server/misc/ch20_secret_shop/package.json
  server/misc/ch20_secret_shop/secret_shop.json
  server/misc/ch20_secret_shop/views/index.ejs
Due: deploy-challenge

add ch20 misc secret shop
  server/docker-compose.yml
Due: deploy-challenge

Add ch13 directory
  server/web/ch13_m2_racing_shop/.gitkeep
Due: deploy-challenge

add challenge to web ch13
  server/web/ch13_m2_racing_shop/.gitkeep
  server/web/ch13_m2_racing_shop/ch13/Dockerfile
  server/web/ch13_m2_racing_shop/ch13/index.js
  server/web/ch13_m2_racing_shop/ch13/package.json
  server/web/ch13_m2_racing_shop/ch13/public/assets/css/output.css
  server/web/ch13_m2_racing_shop/ch13/public/assets/images/cat-race.jpg
  server/web/ch13_m2_racing_shop/ch13/public/assets/images/f1-car.jpg
  server/web/ch13_m2_racing_shop/ch13/public/assets/images/flag.jpg
  server/web/ch13_m2_racing_shop/ch13/public/assets/images/stadium.jpeg
  server/web/ch13_m2_racing_shop/ch13/public/assets/images/wheel.jpg
  server/web/ch13_m2_racing_shop/ch13/routes/api.js
  server/web/ch13_m2_racing_shop/ch13/src/styles.css
  server/web/ch13_m2_racing_shop/ch13/tailwind.config.js
  server/web/ch13_m2_racing_shop/ch13/utils/coupon.json
  server/web/ch13_m2_racing_shop/ch13/utils/product.json
  server/web/ch13_m2_racing_shop/ch13/views/pages/checkout.ejs
  server/web/ch13_m2_racing_shop/ch13/views/pages/deals.ejs
  server/web/ch13_m2_racing_shop/ch13/views/pages/footer.ejs
  server/web/ch13_m2_racing_shop/ch13/views/pages/header.ejs
  server/web/ch13_m2_racing_shop/ch13/views/pages/index.ejs
  server/web/ch13_m2_racing_shop/ch13/views/pages/rewards.ejs
Due: deploy-challenge

move challenge file to outside dicrectory
  server/web/ch13_m2_racing_shop/Dockerfile
  server/web/ch13_m2_racing_shop/index.js
  server/web/ch13_m2_racing_shop/package.json
  server/web/ch13_m2_racing_shop/public/assets/css/output.css
  server/web/ch13_m2_racing_shop/public/assets/images/cat-race.jpg
  server/web/ch13_m2_racing_shop/public/assets/images/f1-car.jpg
  server/web/ch13_m2_racing_shop/public/assets/images/flag.jpg
  server/web/ch13_m2_racing_shop/public/assets/images/stadium.jpeg
  server/web/ch13_m2_racing_shop/public/assets/images/wheel.jpg
  server/web/ch13_m2_racing_shop/routes/api.js
  server/web/ch13_m2_racing_shop/src/styles.css
  server/web/ch13_m2_racing_shop/tailwind.config.js
  server/web/ch13_m2_racing_shop/utils/coupon.json
  server/web/ch13_m2_racing_shop/utils/product.json
  server/web/ch13_m2_racing_shop/views/pages/checkout.ejs
  server/web/ch13_m2_racing_shop/views/pages/deals.ejs
  server/web/ch13_m2_racing_shop/views/pages/footer.ejs
  server/web/ch13_m2_racing_shop/views/pages/header.ejs
  server/web/ch13_m2_racing_shop/views/pages/index.ejs
  server/web/ch13_m2_racing_shop/views/pages/rewards.ejs
Due: deploy-challenge

update ch13 docker-compose
  server/docker-compose.yml
Due: deploy-challenge

Add ch17 and add more coupon for better race condition to ch14
  file/ch17_malicious_document.doc
  server/web/ch13_m2_racing_shop/utils/coupon.json
  server/web/ch13_m2_racing_shop/utils/generate.py
Due: deploy-challenge, upload-file

Add maintenance CI/CD pipeline
  .gitlab-ci.yml
Due: none

Add variable check in main pipeline
  .gitlab-ci.yml
Due: none

change cicd to fix bux
  .gitlab-ci.yml
Due: none

fix wrong typo
  .gitlab-ci.yml
Due: none

ch14 - refactor web, rework bot design
  server/web/ch14_m3_xss2sqli/.gitignore
  server/web/ch14_m3_xss2sqli/Dockerfile
  server/web/ch14_m3_xss2sqli/admin_read.py
  server/web/ch14_m3_xss2sqli/docker-compose.yml
  server/web/ch14_m3_xss2sqli/flaskr/__init__.py
  server/web/ch14_m3_xss2sqli/flaskr/admin.py
  server/web/ch14_m3_xss2sqli/flaskr/auth.py
  server/web/ch14_m3_xss2sqli/flaskr/blog.py
  server/web/ch14_m3_xss2sqli/flaskr/db.py
  server/web/ch14_m3_xss2sqli/flaskr/schema.sql
  server/web/ch14_m3_xss2sqli/flaskr/static/style.css
  server/web/ch14_m3_xss2sqli/flaskr/templates/admin/index.html
  server/web/ch14_m3_xss2sqli/flaskr/templates/base.html
  server/web/ch14_m3_xss2sqli/flaskr/templates/blog/create.html
  server/web/ch14_m3_xss2sqli/flaskr/templates/blog/post.html
  server/web/ch14_m3_xss2sqli/flaskr/templates/blog/search.html
  server/web/ch14_m3_xss2sqli/flaskr/templates/blog/view.html
  server/web/ch14_m3_xss2sqli/instance/config.py
  server/web/ch14_m3_xss2sqli/requirements.txt
  server/web/ch14_m3_xss2sqli/run.sh
Due: deploy-challenge

Fullfill inventory and adapt the challenge to suite for multi challenger in same instance
  server/misc/ch20_secret_shop/index.js
  server/misc/ch20_secret_shop/package-lock.json
  server/misc/ch20_secret_shop/secret_shop.json
Due: deploy-challenge

fix remove coupon only selected
  server/web/ch13_m2_racing_shop/routes/api.js
Due: deploy-challenge

move secret shop sequence number from 20 to 21
  server/docker-compose.yml
  server/misc/ch21_secret_shop/.DS_Store
  server/misc/ch21_secret_shop/.dockerignore
  server/misc/ch21_secret_shop/Dockerfile
  server/misc/ch21_secret_shop/flag.txt
  server/misc/ch21_secret_shop/images/.DS_Store
  server/misc/ch21_secret_shop/images/aghanim_scepter.webp
  server/misc/ch21_secret_shop/images/band_of_elvenskin.webp
  server/misc/ch21_secret_shop/images/belt_of_strength.webp
  server/misc/ch21_secret_shop/images/blade_of_alacrity.webp
  server/misc/ch21_secret_shop/images/gauntlets_of_strngth.webp
  server/misc/ch21_secret_shop/images/mantle_of_intelligence.webp
  server/misc/ch21_secret_shop/images/ogre_axe.webp
  server/misc/ch21_secret_shop/images/point_booster.webp
  server/misc/ch21_secret_shop/images/robe_of_the_magi.webp
  server/misc/ch21_secret_shop/images/slippers_of_agility.webp
  server/misc/ch21_secret_shop/images/staff_of_wizardry.webp
  server/misc/ch21_secret_shop/index.js
  server/misc/ch21_secret_shop/package-lock.json
  server/misc/ch21_secret_shop/package.json
  server/misc/ch21_secret_shop/secret_shop.json
  server/misc/ch21_secret_shop/views/index.ejs
Due: deploy-challenge

ch20 - add challenge
  file/run_ch20_lotteryv2.sh
  server/docker-compose.yml
  server/misc/ch20_lottery_v2/Dockerfile
  server/misc/ch20_lottery_v2/app/app.py
  server/misc/ch20_lottery_v2/app/requirements.txt
  server/misc/ch20_lottery_v2/app/templates/index.html
Due: deploy-challenge, upload-file

ch14 - add source code
  file/run_ch14_m3_xss2sqli.sh
Due: upload-file

ch20 - fix port
  server/docker-compose.yml
Due: deploy-challenge

Add --remove-orphans flag to pipeline
  .gitlab-ci.yml
Due: none

Add gevent as dependency for ch20
  server/misc/ch20_lottery_v2/app/requirements.txt
Due: deploy-challenge

Add requests as dependency for ch20
  server/misc/ch20_lottery_v2/app/requirements.txt
Due: deploy-challenge

ch20 - fix env bug, remove debug str
  server/docker-compose.yml
  server/misc/ch20_lottery_v2/app/app.py
Due: deploy-challenge

ch20 - solution
  solution/misc/ch20_lotteryv2.py
Due: none

ch20 - fix grammar
  server/misc/ch20_lottery_v2/app/app.py
Due: deploy-challenge

Fix ch19: add blacklist
  server/misc/ch19_pyrun/deploy/chal.py
Due: deploy-challenge

ch19: move blacklist inside the function
  server/misc/ch19_pyrun/deploy/chal.py
Due: deploy-challenge

add for solution 15-17
  .DS_Store
  solution/.DS_Store
  solution/for/STDIO15_I_like_to_draw_and_note_solution.txt
  solution/for/STDIO16_The_Stolen_KeyStore_solution.txt
  solution/for/STDIO17_Malicious_Document_solution.txt
Due: none

remove .DS_Store
  .DS_Store
  .gitignore
  solution/.DS_Store
Due: none

ch14 - add default config file
  server/web/ch14_m3_semi_sec_app/instance/config.py
Due: deploy-challenge

permit .zip in .gitignore
  .gitignore
Due: none

rename service in dockercompose
  server/docker-compose.yml
Due: deploy-challenge

ch12: add solution
  solution/web/ch12_m1_gif_storage/exploit.gif.php
Due: none

ch14 - hotpatch test on missing libcurl
  server/web/ch14_m3_semi_sec_app/Dockerfile
Due: deploy-challenge
